
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100vw;
    background-color: #212121;
    color: white;
}
#clock{
    background-color: yellow;
    margin-top: 5px;
    padding: 15px 50px ;
    border-radius: 5px;
    color: black;
}